
.home-section{
   position: relative;
   overflow: hidden;
 

}
.home-section::before{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width:100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: -1;
}
.home-section .home-bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(../../images/hero.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -2;
}
.home-section .min-vh-100{
    padding: 100px 0;
}
.home-text{
    
    padding: 0 15px;
    max-width: 700px;
    width: 100%;
    margin: auto;
    margin-top: 30px;
}
.home-text h1{
    font-family: var(--cursive-font);
    font-size: 60px;
    line-height: 75px;
    margin: 0 0 5px;
   
}
.link:hover{
    color:white;
    
    
  }
.home-text h1:hover{
    color: var(--main-color);
}
.home-text p{
    margin: 0 0 30px;
}
.tagline{
    font-family: var(--cursive-font);
    font-size: 30px;
    line-height: 60px;
    margin: 0 0 5px;
}
.tagline1{
    font-family: var(--cursive-font);
    font-size: 30px;
    line-height: 60px;
    margin: 0 0 3px;
    padding-left: 70px;
    padding-bottom: 20px;
}